[gcode_macro PRINT_START]
gcode:
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=RaspberryPi TARGET=55
    EXTRUDER_FAN_ON
    CONTROLLER_FAN_ON
    G28
    {% set BED_TEMP = params.BED|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|float %}
    M140 S{BED_TEMP}
    PARK_CENTER
    M106 S26
    M190 S{BED_TEMP}
    M109 S100
    QUAD_GANTRY_LEVEL
    G28 Z
    CALIBRATE_Z
    BED_MESH_PROFILE LOAD=default
    PARK_FRONT_LEFT
    M109 S{EXTRUDER_TEMP}
    M107
    G92 E0 ; Reset extruder length to zero
    G1 F300 E20 ; Extrude 20mm at 300mm/min
    G92 E0 ; Reset extruder length to zero
    status_printing
   
[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 25, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament

    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 Z{z_safe} F20000
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    M84
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    UPDATE_DELAYED_GCODE ID=STOP_FANS DURATION=600